.btn-my-custom {
    border: 1px ;
    border-radius: 2rem;
    background-color: rgb(199, 194, 194);
}

.btn-my-custom:hover {
    background-color: #fd7e14;
    font-size: 800;
    color: #fff;
    cursor: pointer;
}

.orderService {
    background-color: #343a40;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 120px;
}
